@import 'tailwindcss';
/* use dark mode tailwind */
@custom-variant dark (&:where(.dark, .dark *));

/* &&&& Font Family &&&& */
@font-face {
    font-family: 'danaBlack';
    src: url('../public/font/Dana-Black.woff') format("woff");
}
@font-face {
    font-family: 'danaExBlack';
    src: url('../public/font/Dana-ExtraBlack.woff') format("woff");
}
@font-face {
    font-family: 'danaBold';
    src: url('../public/font/Dana-Bold.woff') format("woff");
}
@font-face {
    font-family: 'danaMedium';
    src: url('../public/font/Dana-Medium.woff') format("woff");
}
@font-face {
    font-family: 'danaRegular';
    src: url('../public/font/Dana-Regular.woff')format("woff");
}
/* &&&& Font Family &&&& */

/* &&&& utility &&&& */
@utility container{
  max-width: 75rem; /*75 = 1200px */
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
/* &&&& utility &&&& */


/* &&&& Theme tailwind &&&& */
@theme{
    --font-danaBlack: 'danaBlack';
    --font-danaExBlack: 'danaExBlack';
    --font-danaBold: 'danaBold';
    --font-danaMedium: 'danaMedium';
    --font-danaRegular: 'danaRegular';

    --color-bg-light : #ffffff;
    --color-bg-home:#f7f4ed;
    --color-text: #121212;
    --color-link:#1A73EB;
    --color-link-hover:#1558B0;
    --color-button:#6200EE;
    --color-button-hover:#3700B3;
    --color-bg-dark:#121210;
    --color-text-dark:#E0E0E0;
    --color-link-dark:#64B5F6;
    --color-link-hover-dark:#42A5F5;
    --color-button-dark:#BB86FC;
    --color-btn-hover-dark:#985EFF;
}
/* &&&& Theme tailwind &&&& */

/* &&&& Layer components &&&& */
@layer components{
    .btn_primary {
        @apply flex justify-center items-center w-[100px] h-10 bg-button dark:bg-button-dark dark:hover:bg-btn-hover-dark text-white dark:text-text rounded-2xl hover:bg-button-hover
    }
}
/* &&&& Layer components &&&& */

/* &&&& body &&&& */
body{
    @apply m-0 p-0 bg-bg-light dark:bg-bg-dark text-base text-text font-bold box-border 
}
/* &&&& body &&&& */

/* &&&& &&&& */
/* &&&& &&&& */